<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="entrance.html" />
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".plist" mimeType="text/xml" />
        </staticContent>
    </system.webServer>
</configuration>
